<div class="question_sn mr-3">6</div>
<div class="media-body">
  <div class="question-desc mt-0 mb-3">
    <p><strong>SECTION F: NON - AFRICAN PROSE</strong></p>

    <p>&nbsp;</p>

    <p><strong>RICHARD WRIGHT: Native Son</strong></p>

    <p>&nbsp;</p>

    <p>How are the Daltons portrayed in the novel?</p>

    <ol></ol>
  </div>

  <ul class="list-unstyled"></ul>

  <style>
    .question-desc img {
      max-width: 100%;
      height: auto !important;
    }
  </style>
  <a
    href="https://myschool.ng/classroom/literature-in-english/56320?exam_year=2019&amp;type=theory&amp;page=2"
    class="btn btn-sm btn-outline-danger"
  >
    View Answer &amp; Discuss
  </a>
</div>

<div class="question_sn mr-3">7</div>
<div class="media-body">
  <div class="question-desc mt-0 mb-3">
    <p><strong>SECTION F: NON-AFRICAN PROSE</strong></p>

    <p>&nbsp;</p>

    <p><strong>HORACE WALPOLE: The Castle of Otranto</strong></p>

    <p>&nbsp;</p>

    <p>Comment on the evil that befalls Prince Manfred.</p>

    <p><!-- InstanceEndEditable --></p>
  </div>

  <ul class="list-unstyled"></ul>

  <style>
    .question-desc img {
      max-width: 100%;
      height: auto !important;
    }
  </style>
  <a
    href="https://myschool.ng/classroom/literature-in-english/56321?exam_year=2019&amp;type=theory&amp;page=2"
    class="btn btn-sm btn-outline-danger"
  >
    View Answer &amp; Discuss
  </a>
</div>

<div class="question_sn mr-3">8</div>
<div class="media-body">
  <div class="question-desc mt-0 mb-3">
    <p><strong>SECTION F: NON-AFRICAN PROSE</strong></p>

    <p>&nbsp;</p>

    <p><strong>HORACE WALPOLE: The Castle of Otranto</strong></p>

    <p>&nbsp;</p>

    <p>Examine the role of Theodore in the novel.</p>

    <ol>
      <!-- InstanceEndEditable -->
    </ol>
  </div>

  <ul class="list-unstyled"></ul>

  <style>
    .question-desc img {
      max-width: 100%;
      height: auto !important;
    }
  </style>
  <a
    href="https://myschool.ng/classroom/literature-in-english/56322?exam_year=2019&amp;type=theory&amp;page=2"
    class="btn btn-sm btn-outline-danger"
  >
    View Answer &amp; Discuss
  </a>
</div>

<div class="question_sn mr-3">9</div>
<div class="media-body">
  <div class="question-desc mt-0 mb-3">
    <p><strong>SECTION A: African Drama</strong></p>

    <p>&nbsp;</p>

    <p><strong>DELE CHARLEY: The Blood of a Stranger</strong></p>

    <p>&nbsp;</p>

    <p>Assess King Santigi V as an unwise ruler.</p>

    <ol></ol>
  </div>

  <ul class="list-unstyled"></ul>

  <style>
    .question-desc img {
      max-width: 100%;
      height: auto !important;
    }
  </style>
  <a
    href="https://myschool.ng/classroom/literature-in-english/56323?exam_year=2019&amp;type=theory&amp;page=2"
    class="btn btn-sm btn-outline-danger"
  >
    View Answer &amp; Discuss
  </a>
</div>

<div class="question_sn mr-3">10</div>
<div class="media-body">
  <div class="question-desc mt-0 mb-3">
    <p><strong>SECTION A: African Drama</strong></p>

    <p>
      <br />
      <strong>DELE CHARLEY: The Blood of a </strong><strong>Stranger</strong>
    </p>

    <p>&nbsp;</p>

    <p>
      Examine the theme of deceit and intrigue in the drama.<br />
      <br />
    </p>

    <ol></ol>
  </div>

  <ul class="list-unstyled"></ul>

  <style>
    .question-desc img {
      max-width: 100%;
      height: auto !important;
    }
  </style>
  <a
    href="https://myschool.ng/classroom/literature-in-english/56324?exam_year=2019&amp;type=theory&amp;page=2"
    class="btn btn-sm btn-outline-danger"
  >
    View Answer &amp; Discuss
  </a>
</div>
